html {
	height:100%;
	padding:0px; 
	margin:0px;
	font-size: 10px; 
	font-family: "Pretendard";
}
body {
	height:100%;
	padding:0px; 
	margin:0px;
	font-size: 1.7rem;
	font-family: "Pretendard";
}
@media only screen and (max-width:600px){
	/* mobile */
}
@media only screen and (min-width:600px){
	/* tablet */ 
}
@media only screen and (min-width:1025px){
	/* pc */
}
iframe {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}